
.All_componants{

  display: grid;
  text-align: center;


}
.app_Name_logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_logo{
  width: 120px;
  height: 120px;
}
.categories_button{
  display: grid;

  gap: 30px;
}
.nav_bar{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home_button{
  border-radius: 5px;
border: none;
  width: 125px ;
  height: 40px;
  background-color:yellow;
}
.divButton{
  width: 1000pxx;
  display: grid;
  gap: 20px;
  justify-content: center;
}
.recipe_card{
  justify-content: center;
  align-items: center;
}

.all_recipe_details{
  display: flex;
  width: 850px;
  height: 850px;

}
.image_button_details{
  display: grid;
}
.Back_button{
  border-radius: 5px;
border: none;
  width: 125px ;
  height: 40px;
  background-color:yellow;
}
.main_details{display: grid;
gap: 
30px;}